* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    background-color: rgb(136, 190, 136);
    display: flex;
    justify-content: space-evenly;

}
 
hr {
    border-color: darkslategrey;
    width: 75%;

}

#user-list {
    border: 2px solid black;
    width: 30%;
    height: 80vh;
    margin: 5% 0;
    display: block;
    /* justify-content: space-evenly;
    flex-wrap: wrap; */
}

#names {
    border: 1px solid black;
    /* display: flex;
    flex-wrap: wrap; */
    width: 90%;
    height: 60vh;
    margin: 2rem auto;
}

#names h1 {
    text-align: center;
}

.name-cont {
    border: 1px dotted black;
    width: 40%;
    height: 5%;
    margin: auto;
}

.butts-cont {
    height: 10vh;
    border: 1px dotted black;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.add-rem-butt {
    
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.butt {
    height: 100%;
    margin: 5px;
    font-weight: bold;
}

input {
    margin-bottom: 0 auto;
    width: 80%;
    font-size: 100%;
    text-align: center;
    z-index: 1000;
}


.table-cont {
    border: 2px solid black;
    height: 80vh;
    width: 60%;
    margin: 5% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.tables {
    border: 1px solid black;
    width: 30%;
    height: 40%;
    margin: 3.5% 0;
    text-align: center;
}

.tables li  {
    margin: 1.0em 0;
    height: 20%;
    font-size: 1.5em;
}